.input__item{
  text-align: center;
  border: 0;
  padding: 0;
  margin: 10px 0;
  background: transparent;
  font: 20px sans-serif;
}
.form__router{
  
  font-family: sans-serif;
  text-align: center;
}